*{
    margin: 0;
    padding: 0;
}

.navbar{
    width: flex;
}

.nav-list{
    width: 100%;
    background-color: aqua;
}

.nav-list li{
    display: flex;
}

.nav-list li a{
text-decoration-color: brown;
}

.rightnav{
    text-align: right;
    top: auto;
}